<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.pribluda.android.camerawatch"
          android:versionCode="1"
          android:versionName="0.1"
        >
    <uses-sdk android:minSdkVersion="3"/>
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"/>


    <application
            android:label="Kamera Watch"
            android:theme="@android:style/Theme.Black"
            android:icon="@drawable/icon">
        <activity android:name=".CameraWatch" android:label="Kamerakarte">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".BootInitializer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ChangeLocationReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="de.pribluda.android.camerawatch.LOCATION_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".UpdateReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="de.pribluda.android.camerawatch.UPDATE_ALARM"/>
            </intent-filter>
        </receiver>


        <receiver android:name=".CameraWidgetProvider"
                  android:label="@string/widgetTitle"
                  android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/camera_widget"
                    />
        </receiver>
    </application>

    <!--
       necessary permissions
      internet for ad receiving and high score dissemination
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>