<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.pribluda.android.camerawatch"
          android:versionCode="42"
          android:versionName="1.33"
        >
    <uses-sdk android:minSdkVersion="3"/>
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"/>


    <application
            android:label="Kamera Watch"
            android:theme="@android:style/Theme.Black">
        <activity android:name=".CameraWatch" android:label="Kamerakarte">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <!--
       necessary permissions
      internet for ad receiving and high score dissemination
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>